<phpunit bootstrap="./vendor/autoload.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         verbose="true"
         colors="false">

    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Ydin Test Suite">
            <directory>./src/*/Tests/</directory>
        </testsuite>
    </testsuites>

</phpunit>
